{{template "base" .}}
{{define "title"}}News #{{.News.ID}}{{end}}
{{define "main"}}
{{with .News}} <div class='news'>
    <div class='metadata'> <strong>{{.Title}}</strong> <span>#{{.ID}}</span>
    </div> <pre><code>{{.Content}}</code></pre> <div class='metadata'>
    <time>Created: {{.Date}}</time></div>
    <p class='news-category'>Category: {{.Category}}</p>
</div>
{{end}} {{end}}
